<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>

<div class="container">

    <div th:replace="~{base :: titulo('Home')}"></div>
    <div class="row">
        <div class="col-4">
            <div th:if="${success != null}">
                <div class="alert alert-success" role="alert" th:text="${success}"></div>
            </div>
            <div th:if="${successEdicao != null}">
                <div class="alert alert-success" role="alert" th:text="${successEdicao}"></div>
            </div>
            <div th:if="${successDelete != null}">
                <div class="alert alert-success" role="alert" th:text="${successDelete}"></div>
            </div>
            <div class="list-group">
                <a th:href="@{/cadastrar}" class="list-group-item list-group-item-action list-group-item-light">Cadastrar</a>
                <a th:href="@{/filtrar/}" class="list-group-item list-group-item-action list-group-item-light">Filtrar</a>
            </div>
        </div>
    </div>

</div>
</body>
</html>